<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		</head>
		<body>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<div class="dropdown">
					<li>
						<span class="dropbtn">Snippets</span>
						<div class="dropdown-content">
							<a href="/snippet/bash">Bash</a>
							<a href="/snippet/git">Git</a>
							<a href="/snippet/git-log">Git log</a>
							<a href="/snippet/ansible">Ansible</a>
							<a href="/snippet/python">Python</a>
							<a href="/snippet/java">Java</a>
							<a href="/snippet/windows">Windows</a>
						</div>
					</li>
					</div>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
			<div class="container main-content">
			
			{{ content }}
			
			</div>
			<footer>
				<ul>
					<li><a href="https://github.com/sremy">github.com/sremy</a></li>
				</ul>
			</footer>
		</body>
	</html>